:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
}

#TicketArea{
  float:right;
  margin: 0px;
  width: 700px;
  border: 1px solid #697e82;
  padding: 5px;
  
}
.searchButton{
  width: 100%;
  height: 50px;
  margin: 5px;
}

#KassiererInput{
  float:left;
  margin: 20px;
  margin-left: 20%;
}

